WebUI/Connected Services/WcfPublicServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeFinish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDTO" nillable="true" type="tns:EventDTO" />
  <xs:complexType name="ArrayOfEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDTO" nillable="true" type="tns:EventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDTO" nillable="true" type="tns:ArrayOfEventDTO" />
  <xs:complexType name="EventInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LayoutDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LayoutName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenuePhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventInfoDTO" nillable="true" type="tns:EventInfoDTO" />
  <xs:complexType name="ArrayOfEventAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventAreaDTO" nillable="true" type="tns:EventAreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventAreaDTO" nillable="true" type="tns:ArrayOfEventAreaDTO" />
  <xs:complexType name="EventAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventAreaDTO" nillable="true" type="tns:EventAreaDTO" />
  <xs:complexType name="ArrayOfEventSeatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeatDTO" nillable="true" type="tns:EventSeatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeatDTO" nillable="true" type="tns:ArrayOfEventSeatDTO" />
  <xs:complexType name="EventSeatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventAreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeatDTO" nillable="true" type="tns:EventSeatDTO" />
</xs:schema>