WpfApp/Connected Services/WcfAreaServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaDTO" nillable="true" type="tns:AreaDTO" />
  <xs:complexType name="ArrayOfAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaDTO" nillable="true" type="tns:AreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaDTO" nillable="true" type="tns:ArrayOfAreaDTO" />
</xs:schema>