WebUI/Connected Services/WcfSeatServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SeatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatDTO" nillable="true" type="tns:SeatDTO" />
  <xs:complexType name="ArrayOfSeatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeatDTO" nillable="true" type="tns:SeatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeatDTO" nillable="true" type="tns:ArrayOfSeatDTO" />
</xs:schema>