WebUI/Connected Services/WcfPurchaseServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SeatId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="PurchaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventSeatId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseDTO" nillable="true" type="tns:PurchaseDTO" />
  <xs:complexType name="ArrayOfPurchaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseDTO" nillable="true" type="tns:PurchaseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseDTO" nillable="true" type="tns:ArrayOfPurchaseDTO" />
</xs:schema>